@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>

    <link rel="stylesheet" type="text/css" href="../Views/Login.css" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
        .login-form {
            width: 340px;
            margin: 50px auto;
            font-size: 15px;
        }

            .login-form form {
                margin-bottom: 15px;
                background: #f7f7f7;
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
                padding: 30px;
            }

            .login-form h2 {
                margin: 0 0 15px;
            }

        .form-control, .btn {
            min-height: 38px;
            border-radius: 2px;
        }

        .btn {
            font-size: 15px;
            font-weight: bold;
        }
    </style>

</head>
<body>
    <div class="login-form">
        <h2 class="text-center" style="font-size: 40px;">
            FPT University Academic Portal
        </h2>
        @using (@Html.BeginForm("Mainpage", "Home", FormMethod.Post))
        {
            <h2 class="text-center">Log in</h2>

            @if (ViewBag.success == true)
            {
                <div>
                    <p style="color:green; display:block; text-align:center">Registration succeeded. Please login to continue</p>
                </div>
            }

            <div class="form-group">
                <input name="user" type="text" class="form-control" placeholder="Username" required="required">
            </div>
            <div class="form-group">
                <input name="pass" type="password" class="form-control" placeholder="Password" required="required">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Log in</button>
            </div>
            @if (ViewBag.loginCheck == false)
            {
                <div>
                    <p style="color:red; display:block; text-align:center">Login failed. Please check your username or password.</p>
                </div>
            }
        }
        <p class="text-center"><a href="@Url.Action("Register", "Home")">Create an Account</a></p>
    </div>
</body>